<html>
<head>
    <title>Test</title>
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <h1>Binance Order Book</h1>
    <div>
        <select v-model="selected">
            <option v-for="symbol in symbols" v-bind:value="symbol">
                {{ symbol }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <div class="row">
        <div class="column">
            <h3>Asks</h3>
            <ul>
                <li v-for="(value, name) in list1">Price:Quantity: {{name}}:{{value}}</li>
            </ul>
        </div>
        <div class="column">
            <h3>Bids</h3>
            <ul>
                <li v-for="(value, name) in list2">Price:Quantity: {{name}}:{{value}}</li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
let stompClient = null;
var vm = new Vue({
	el: '#app',
	mounted: function () {
	    axios.get('http://localhost:8090/api/v1/binance')
          .then(function (response) {
            // handle success
            console.log(response);
            vm.symbols = response.data;
            vm.selected = response.data[0];
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .finally(function () {
            // always executed
          });

		this.$nextTick(function () {
			let socket = new SockJS('/test-info');
		    stompClient = Stomp.over(socket);
		    stompClient.connect({}, function (frame) {
		        console.log('Connected: ' + frame);

		        stompClient.subscribe('/stock/price', function (val) {
		        	console.log(val);
		        	console.log(JSON.parse(val.body));
		        	var symbols = JSON.parse(val.body);
					vm.list1 = symbols[vm.selected]["ASKS"];
					vm.list2 = symbols[vm.selected]["BIDS"];
		        });
		    });
		});
	},
	data: function () {
		return {
	   		message: 'Dynamic Content',
	   		list1: [],
	   		list2: [],
	   		selected: 'A',
            symbols: null
		}
	}
})
</script>

<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

</html>